.container
{
    text-align: center;
}
.img2{
    width: 250px;
    height: 200px;
}
#myCarousel
{
    background-color:skyblue;
}

#myCarousel img
{
    height: 350px;
       }

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : black;
    font-size: 20px;
}
.line{
    height: 6px;
    background-color: crimson;
    width: 70px;
    margin: 8px auto;
}